html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
/* First Text */
.caption {
  width: 100%;
  height: 100vh;
  position: relative;
  color: white;
  padding: 20px;
  text-transform: uppercase;
  background-image: url("../img/panel2.jpg");
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
}

.caption h3 {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: white;
  /*Horizontal, Vertical, Blurr radius */
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-top: 5rem;
  padding-bottom: 1rem;
  animation: title 1.8s linear;
}

.caption h5 {
  font-size: 2.3rem;
  text-shadow: 0.1rem 0.1rem 0.9rem black;
  color: white;
  padding-bottom: 1.6rem;
  animation: subtitle 1.8s linear;
}

.introText {
  padding-top: 25px;
}

#headerText {
  padding-top: 25px;
  padding-bottom: 25px;
}

.headerText,
.panel-head {
  padding-bottom: 20px;
}
#welcomeText {
  margin-top: 200px;
}

.panelImg {
  height: 100%;
  width: 100%;
}

.d3plot {
  margin-top: 25px;
}

#bubble {
  width: 100%;
}

/*--- Contact ---*/
footer {
  /* background-color: #40474e; */
  color: white;
  padding: 1.5rem 0 1rem;
  /* margin-top: 2rem; */
  width: 100%;
}
.finale {
  padding-bottom: 1.5rem;
  color: white;
}
.myname {
  padding-top: 1rem;
}
hr.socket {
  width: 100%;
  border-top: 0.2rem solid #666b71;
  margin-top: 2rem;
  margin-bottom: 3.5rem;
}

.jumbotron {
  background-color: #40474e;
  margin-top: 25px;
  margin-bottom: 0px;
}

.active {
  font-weight: bold;
  fill: #000;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

/* SVG Adaptive */

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

svg .rect {
  fill: gold;
  stroke: steelblue;
  stroke-width: 5px;
}

/* Media Query */
@media (max-width: 767px) {
  .caption h3 {
    font-size: 2.3rem;
  }
  
  .caption h5 {
    font-size: 1rem;
  }
}
  /*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/