  
  html,
  body {
    height: 100%;
    padding: 0;
    margin: 0;
  }
  /* First Text */
  .caption {
    width: 100%;
    height:100vh;
    position: relative;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    background-image: url("../img/panel2.jpg");   
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
}
 
.caption h3{
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: .1rem;
    color:white;
    /*Horizontal, Vertical, Blurr radius */
    text-shadow: 0.1rem 0.1rem .8rem black;
    padding-top: 5rem;
    padding-bottom: 1rem;
    animation: title 1.8s linear;
}

.caption h5{
    font-size: 2.3rem;
    text-shadow: .1rem .1rem .9rem black;
    color:white;
    padding-bottom: 1.6rem;
    animation: subtitle 1.8s linear;
} 

.introText {
    padding-top: 25px;
}

.headerText {
    padding-top: 25px;
}

.headerText, h5 {
    padding-bottom: 20px;
}
#welcomeText {
    margin-top:200px;
}

.panelImg {
    height: 100%;
    width: 100%;
}

/*--- Contact ---*/
footer{
    background-color: #40474e;
    color: white;
    padding: 3rem 0 2rem;
    margin-top: 2rem;
}
.finale {
    padding-bottom: 1.5rem;
    color:white;
}
.myname {
    padding-top: 1rem;
}
hr.socket{
    width: 100%;
    border-top: .2rem solid #666b71;
    margin-top: 2rem;
}
