<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Solar</title>
    <script src="https://d3js.org/d3.v4.js"></script>
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/lux/bootstrap.min.css"
      integrity="sha384-smnSwzHqW1zKbeuSMsAM/fMQpkk7HY11LuHiwT8snL/W2QBoZtVCT4H5x1CEcJCs"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/solar-style.css') }}"
    />
  </head>
  <body>
    <div id="landing">
      <div class="container-fluid caption">
        <div class="text-left">
          <h3>Solar <br />Calculator</h3>
          <h5>Data Analytics <br />Final Project</h5>
        </div>
      </div>
    </div>
    <!-------------------------------------------------------------------------------- HOME ----------------------------------------------------------------------------------------->
    <br />
    <div id="home">
      <div class="container introText">
        <h1 id="headerText">
          Thanks for Visiting!
        </h1>
        <div class="row">
          <div class="col-md-6 shadow bg-white rounded">
            <p>
              <br />
              Traditional electricity relies heavily on fossil fuels such as
              coal and natural gas. Not only are they bad for the environment,
              but they are also limited resources. This translates into a
              volatile market, in which energy prices alter throughout the day.
              This fact is driving market alternatives to offer clients new
              energy sources, which could help them achieve economic savings
              over time. Photovoltaic (PV) Systems have become widely adopted
              alternatives to conventional domestic energy consumption in Mexico
              City in recent years, however, as a drawback these systems are is
              still expensive, the question here is, how many years will be
              reach the return of investment
            </p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5 shadow bg-white rounded" id="mainImg">
            <img
              src="{{ url_for('static', filename='img/comparison.jpg') }}"
              alt="comparison"
              width="100%"
              height="100%"
            />
          </div>
        </div>
      </div>
    </div>
    <!------------------------------------------------------------------------------- GRAPHS ----------------------------------------------------------------------------------------->
    <br />
    <div id="introPlots">
      <div class="container introText">
        <h1 id="headerText">
          Know the Data
        </h1>
        <div class="row">
          <div class="input-group mb-3">
            <select id="plant_id">
              <option selected>-- Choose a plant --</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="25">25</option>
              <option value="26">26</option>
            </select>
          </div>
          <div class="col-md-12 shadow bg-white rounded" id="lineplot"></div>
        </div>
        <div class="row">
          <br />
        </div>
        <div class="row">
          <div class="input-group mb-3">
            <select id="comparison">
              <option selected>-- Choose a variable --</option>
              <option value="sunHour">Sunlight Exposure</option>
              <option value="uvIndex">Ultraviolet Radiation Index</option>
              <option value="cloudcover">Cloud Coverage</option>
              <option value="maxtempC">Maximum Temperature</option>
            </select>
          </div>
          <div class="col-md-12 shadow bg-white rounded" id="bubble"></div>
        </div>
      </div>
    </div>
    <!------------------------------------------------------------------------------- CALCULATOR ----------------------------------------------------------------------------------------->
    <br />
    <div id="calculator">
      <div class="container">
        <h1 id="headerText">
          Panel Calculator
        </h1>
        <div class="row">
          <div class="col-md-6 shadow bg-white rounded" id="userInput">
            <h5 id="instructions"><br />Please fill the boxes below</h5>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">MXN$</span>
              </div>
              <input
                type="text"
                class="form-control"
                id="pay"
                placeholder="Annual Payment"
                aria-label="Annual Consumption"
                aria-describedby="basic-addon1"
              />
            </div>
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                id="consume"
                placeholder="Annual Consumption"
                aria-label="Annual Consumption"
                aria-describedby="basic-addon1"
              />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">kWh</span>
              </div>
            </div>
            <div class="input-group mb-3">
              <select id="location">
                <option selected>-- Choose a region --</option>
                <option value="North">North</option>
                <option value="Downtown & South">Downtown & South</option>
                <option value="West">West</option>
                <option value="East">East</option>
              </select>
              <button
                type="button"
                class="btn btn-success calcButton"
                id="calcButton"
              >
                Continue
              </button>
              <!-- <input type="button" value="Continue" id="calcButton" /> -->
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5 shadow bg-white rounded" id="results">
            <h5 id="instructions"><br />Results</h5>
            <p id="panels">Optimal Number of Panels:</p>
            <!-- <p id="#panels"></p> -->
            <p id="dpayment">Down Payment:</p>
            <!-- <p id="#dpayment"></p> -->
            <p id="breakeven">Time for Breakeven:</p>
            <!-- <p id="#breakeven"></p> -->
          </div>
        </div>
      </div>
    </div>
    <!-------------------------------------------------------------------------------- ANALYSIS ----------------------------------------------------------------------------------------->
    <br />
    <div id="analysis">
      <div class="container">
        <h1 id="headerText">
          Consumption Analysis
        </h1>
        <div class="row shadow bg-white rounded" id="breaktime"></div>
        <div class="row">
          <br />
        </div>
      </div>
    </div>
    <!-------------------------------------------------------------------------------- FOOTER ----------------------------------------------------------------------------------------->
    <div class="jumbotron jumbotron-fluid" id="about">
      <footer>
        <div class="row ending justify-content-center">
          <div class="col-md-5 text-center">
            <h3 class="finale">Come back soon!</h3>
            <strong>Creators</strong>
            <p class="myname">
              Ernesto Lopez Centeno<br />neto@lopezcenteno.com<br />
              Javier Sandoval Bustamante<br />javier.sandoval94@outlook.com<br />
              Lupita Vázquez Pérez<br />lupita49975@hotmail.com<br />
              Cuitlahuac Daniel Maldonado Ruiz<br />cuitlahuac.maldonado@gmail.com<br />
              Luis Enrique Vázquez Rodríguez<br />enriquevr94@outlook.com<br />
              Luis Alejandro Arce Sáenz<br />arcesaenz.luis@gmail.com<br />
            </p>
          </div>
          <hr class="socket" />
          &copy;
        </div>
      </footer>
    </div>
    <!--Jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/solar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/line.js') }}"></script>
    <script src="{{ url_for('static', filename='js/calc.js') }}"></script>
  </body>
</html>
